<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">   
    <title>Auto Grader</title>
</head>
<body>
 <div class="wrapper">
    <nav class="nav">
        <div class="nav-logo">
            <p>Revolutionizing Classic Handwriting with AI </p>
        </div>
        <div class="nav-menu" id="navMenu">
            <ul>
                <li><a href="{{ url_for('overview_page') }}#main" class="link active">Home</a></li>
                <li><a href="{{ url_for('overview_page') }}#Features" class="link">Features</a></li>
                <li><a href="{{ url_for('overview_page') }}#howto" class="link">How to use it?</a></li>
                <li><a href="{{ url_for('home') }}" class="link">Login</a></li>
            </ul>
        </div>
        <!-----div class="nav-button">
            <button class="btn white-btn" id="loginBtn" onclick="login()">Sign In</button>
            <button class="btn" id="registerBtn" onclick="register()">Sign Up</button>
        </div>
        <div class="nav-menu-btn">
            <i class="bx bx-menu" onclick="myMenuFunction()"></i>
        </div------>
    </nav>

<!----------------------------- Form box ----------------------------------->    
    
<div class="form-box">
    <!-- Login form -->
    <div class="login-container">
        <div class="top">
            <header>Login</header>
        </div>
        <form action="{{ url_for('login') }}" method="post">
            <div class="input-box">
                <input type="text" class="input-field" name="email" placeholder="Username or Email">
                <i class="bx bx-envelope"></i>
            </div>
            <div class="input-box">
                <input type="password" class="input-field" name="password" placeholder="Password">
                <i class="bx bx-lock-alt"></i>
            </div>
            <div class="input-box">
                <input type="submit" class="submit" value="Sign In">
            </div>
        </form>
    </div>
</div>
    

</body>
</html>